body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #d4bf91;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping-lists {
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.shopping-list-item {
    width: 300px;
    height: fit-content;
    padding: 30px;
    color: #333;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
}

.shopping-list-item:hover {
    cursor: pointer;
    scale: 1.1;
}

#delete-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
}

#share-button {
    position: absolute;
    top: 10px;
    right: 40px;
    background: none;
    border: none;
}

#add-list {
    width: 100px;
    height: fit-content;
    padding: 5px;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
}


#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#modal form {
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#modal button {
    padding: 5px 10px;
    background-color: #494949;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal button:hover {
    background-color: #deab3c74;
}