html {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: linear-gradient(to top left, #dad196, #a48a5b);
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal-line {
    width: 100%; /* Fills the entire width of the screen */
    height: 2px;  /* You can adjust the height as needed */
    background-color: #000; /* Change this to your desired line color */
    margin-top: 10px;
}

#shopping-list-header {
    text-align: center;
    margin-top: 10px;
}

.shopping-lists {
    padding: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.shopping-list-item {
    width: 300px;
    height: fit-content;
    padding-bottom: 30px;
    margin: 20px;
    color: #333;
    background-color: none;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    font-size: 13px;
}

.shopping-list-item h1 {
    font-weight: lighter;

}

#div-title {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    padding-left: 20px;
    text-align: center;
    padding-right: 20px;
    border-radius: 5px;
}

#div-info {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

#timestamp {
    text-align: right;
    margin-right: 5px;
}

#delete-button {
    text-align: left;
    background: none;
    border: none;
}

.shopping-list-item:hover {
    cursor: pointer;
}


#share-button {
    position: absolute;
    top: 10px;
    right: 40px;
    background: none;
    border: none;
}

#add-list {
    width: 100px;
    height: fit-content;
    padding: 7px;
    margin: 5px;
    margin-left: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #000000;
}

button:hover {
    cursor: pointer;
}


#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#modal form {
    text-align: center;
    width: 15%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.form-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

#modal button {
    padding: 5px 10px;
    background-color: #e7dddd;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#modal button:hover {
    background-color: #deab3c74;
}

#modal-btns {
    display:flex;
    justify-content: space-between;
    margin-top: 20px;
}


